#logo-container {
    padding: 5px;
}

#demo-canvas {
    background: url('../images/background.png') -9px -9px;
}

#workspace {
    font-family: Consolas, "Courier New", sans-serif;
}

#movement-controls {
    right: 20px;
}

#play-controls {
    right: 20px;
}

.button-spacer {
    display: block;
    margin: 6px 0;
}